/* ### GALLERY PAGE ### */
#gallerypage{
    background: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.5),rgba(1, 19, 27, 0.565)
      ),
      url("../images/about1.webp") center center/cover;
    width: 100%;
    height: 100vh;
  }

header.header-sm{
    min-height: 60vh;
}
/* gallery */
.gallery-item{
    margin: 2rem 0;
    overflow: hidden;
    position: relative;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
    cursor: pointer;
}
.gallery-item::after{
    content: "";
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
}
.gallery-item img{
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.gallery-item:hover img{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}
.zoom-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #fff;
    z-index: 2;
    opacity: 0;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.gallery-item:hover .zoom-icon{
    opacity: 1;
}
/* img modal box */
#img-modal-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    display: none;
}
#img-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
}
#img-mdoal img{
    max-width: 100%;
    height: 100%;
}
#img-modal-box button{
    position: absolute;
    font-size: 1.4rem;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
    border: none;
}
#img-modal-box button:hover{
    opacity: 0.9;
}
#modal-close-btn{
    top: -17.5px;
    right: -17.5px;
    z-index: 999;
}
#next-btn{
    top: 50%;
    right: 1rem;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
#prev-btn{
    top: 50%;
    left: 1rem;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}
#next-btn:hover, #prev-btn:hover{
    background-color: var(--dark);
    color: #fff;
}

/* popular section */
#popular.py-4{
    padding-bottom: 0;
}
.popular-item{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.popular-item::after{
    content: "";
    z-index: 1;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
    background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
}
.popular-item div{
    position: absolute;
    color: #fff;
    z-index: 2;
    bottom: -100%;
    width: 100%;
    padding: 2rem;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.popular-item .rating{
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0.7rem 0;
    font-size: 0.9rem;
    opacity: 0.8;
    padding: 0;
}
.popular-item:hover div{
    background-color: #fff;
    color: #000;
    bottom: 0;
    opacity: 0.95;
}

/* ### BLOG PAGE ### */
/* blog */
#blog{
    background-color: var(--light-grey);
}
.blog-item{
    background-color: #fff;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.blog-item-top{
    position: relative;
}
.blog-date{
    position: absolute;
    background-color: var(--green);
    color: #fff;
    padding: 0.5rem;
    height: 38px;
    min-width: 160px;
    text-transform: uppercase;
    letter-spacing: 2px;
    bottom: -19px;
    left: 5%;
}
.blog-item-bottom{
    padding: 2rem 1rem;
}
.blog-item-bottom span{
    text-transform: uppercase;
    color: var(--dark);
    opacity: 0.7;
    letter-spacing: 2px;
    display: block;
    margin-top: 1rem;
}
.blog-item-bottom a{
    margin: 1rem 0;
    font-size: 1.4rem;
    display: block;
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    line-height: 1.6;
    -webkit-transition: var(--trans);
    -o-transition: var(--trans);
    transition: var(--trans);
}
.blog-item-bottom a:hover{
    opacity: 0.8;
}
